# Python
__pycache__/
*.py[cod]
*.pyo
.env
.env.local
backend/__pycache__/
api/__pycache__/

# Jupyter
.ipynb_checkpoints/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Vercel
.vercel/
